@media (min-width: 700px) {
    nav {
        display: block !important;
    }

    nav ul li a {
        padding: 0.5em 1em;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        flex-direction: row;
    }

    header .header-content {
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        padding: 2rem 1rem;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 3rem;
    }
}